<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <title>Admin panel</title>
    </head>

    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{url_for('index') }}">Myntra-Jabong</a>
                </div>

                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{url_for('index') }}">Home</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        {% if current_user.username == 'admin' %}
                            <li class="active"><a href="#">Admin</a></li>
                        {% endif %}

                        <li><a href="#">Hello, {{ current_user.username }}!</a></li>
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        {% if current_user.is_authenticated and current_user.username == 'admin' %}
            <div class="container">
                <div class="row">
                    <form action="." method="POST">
                        <div class="form-group">
                            <label for="gender">Gender:</label>
                            <input type="text" class="form-control" id="gender" name="gender" placeholder="Enter 0(male) or 1(female):">

                            <label for="winning_top">Winning Top:</label>
                            <input type="text" class="form-control" id="winning_top" name="winning_top" placeholder="Enter the winning top choice:">

                            <label for="winning_bottom">Winning Bottom:</label>
                            <input type="text" class="form-control" id="winning_bottom" name="winning_bottom" placeholder="Enter the winning bottom choice:">

                            <label for="winning_footwear">Winning Footwear:</label>
                            <input type="text" class="form-control" id="winning_footwear" name="winning_footwear" placeholder="Enter the winning footwear choice:">

                            <label for="declare_challenge">Declare challenge results</label>
                            <input type="checkbox" id="declare_challenge" name="declare_challenge">
                        </div>

                        <button type="submit" class="btn btn-success">Submit</button>
                    </form>
                </div>
            </div>
        {% endif %}

    </body>
</html>