<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Best Outfit Challenge</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/MaleFemaleChoice.css') }}">-->

        <style>
            .row.content {height: auto;}
            #desc{
                outline: 1px solid #767082;
            }
        </style>
    </head>

    <body style="background-color:#EDC7B7">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ url_for('index') }}">Myntra-Jabong</a>
                </div>

                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    {% if current_user.is_authenticated %}
                        {% if current_user.username=='admin' %}
                            <li class="active"><a href="{{ url_for('challenge') }}">Select winning outfit</a></li>
                        {% else %}
                            <li class="active"><a href="{{ url_for('challenge') }}">Challenge</a></li>
                        {% endif %}
                    {% endif %}
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        {% if current_user.username == 'admin' %}
                            <li><a href="{{ url_for('admin') }}">Admin</a></li>
                        {% endif %}

                        <li><a href="#">Hello, {{ current_user.username }}!</a></li>
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>

                    {% else %}
                        <li><a href="{{ url_for('login') }}">Login</a></li>
                        <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

      {% if current_user.is_authenticated %}
          <div class="container">
            <div class="row content">
              <div class="col-sm-12">
                <h1 align="center"> Choose Who You Would Like To Design An Outfit For? </h1>
              </div>
            </div>
          </div>

            <div class="container-fluid">
                <div class="jumbotron">
                    <div class="row vertical-align">
                        <div class="col-sm-6" align="center">
                            <a href="{{ url_for('challengefemale') }}"><img src="{{ url_for('static', filename='img/FemaleChoice.jpg') }}" style="width:300px;height:450px;" >
                                <div class="content">
                                    <h1 align="center" style="font-size:3em"> Female</h1>
                                </div>
                            </a>
                        </div>

                        <div class="col-sm-6" align="center">
                            <a href="{{ url_for('challengemale') }}"><img src="{{ url_for('static', filename='img/MaleChoice.png') }}" style="width:300px;height:450px;">
                                <div class="content">
                                    <h1 align="center" style="font-size:3em"> Male</h1>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            {% if current_user.username != 'admin' %}
                <div class="container" id="desc">
                    <p>
                        <h3>Contest Description -</h3>
                        <ol>
                            <li>This is a challenge where your luck as well as your fashion sense will be gauged.</li>
                            <li>First, test your luck by picking out a gender to design an outfit for.</li>
                            <li>Next, prove your skill by choosing an outfit from the given set of clothes.</li>
                            <li>If everything clicks, WIN BIG</li>
                        </ol>

                    </p>
                </div>
            {% endif %}
      {% endif %}
    </body>

</html>
