<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <title>Home page</title>

        <style>
            .jumbotron{
                width:1000px;
            }
        </style>
    </head>

    <body style="background-color:#EEE2DC; background-image: url('https://images.pexels.com/photos/845434/pexels-photo-845434.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ url_for('index') }}">Myntra-Jabong</a>
                </div>

                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
                    {% if current_user.is_authenticated %}
                        {% if not challenge_declared %}
                            <li><a href="{{ url_for('challenge') }}">Challenge</a></li>
                        {% endif %}
                    {% endif %}
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        {% if current_user.username == 'admin' %}
                            <li><a href="{{ url_for('admin') }}">Admin</a></li>
                        {% endif %}

                        <li><a href="#">Hello, {{ current_user.username }}!</a></li>
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>

                    {% else %}
                        <li><a href="{{ url_for('login') }}">Login</a></li>
                        <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <div class="container">
            <div class="jumbotron">
                <h1>Best outfit challenge</h1>
                <p>
                    For Participants -
                    <br>
                    <ul>
                        <li>Sign Up as New User and Log In</li>
                        <li>Select Whether You Want To Choose Outfits for Males or Females</li>
                        <li>Select Outfit By Choosing Clothing (No Need To Click To Select, Just Slide To Chosen Image)</li>
                        <li>Submit Design</li>
                        <li>You Can Alter Your Submitted Design As Many Times As You Want</li>
                        <li>Check Back From Time To Time To See If You Have Won :D</li>
                    </ul>
                </p>

                <br>

                <p>
                    For Administrators -
                    <br>
                    <ul>
                        <li>Log In with - UserName: admin & Password:secretkey</li>
                        <li>Now, You Need To Select Winning Outfit</li>
                        <li>Choose Whether Winning Outfit Should Be For Male Or Female Category</li>
                        <li>Select Outfit By Choosing Clothing (No Need To Click To Select, Just Slide To Chosen Image)</li>
                        <li>Submit Model Design</li>
                        <li>To declare the results, go to the admin panel from the navbar and click on Declare challenge results</li>
                    </ul>
                </p>

                {% if not current_user.is_authenticated %}
                    <p>Login to continue to the challenge</p>

                    <p><a class="btn btn-primary btn-lg" href="{{url_for('login') }}" role="button">Login</a></p>

                {% else %}
                    {% if not challenge_declared %}
                        {% if challenge_attempted %}
                            <p class="alert alert-info">You have already attempted the challenge. Attempting it again will overwrite your previous submission</p>
                        {% endif %}

                        {% if current_user.username=='admin' %}
                            <p class="alert alert-info">This is the admin account. The design selected will be the winning design for the contest.</p>
                            <br><br>
                            <p><a class="btn btn-primary btn-lg" href="{{ url_for('challenge') }}" role="button">Choose winning design</a></p>
                        {% else %}
                            <p><a class="btn btn-primary btn-lg" href="{{ url_for('challenge') }}" role="button">Continue to challenge</a></p>
                        {% endif %}
                    {% else %}

                        <br><br>
                        <h3>Challenge results have been declared!</h3>

                        {% if current_user.is_authenticated %}

                            {% if challenge_attempted %}
                                {% if correct_submission %}
                                    <p class="alert alert-success">You have won the challenge!</p>

                                {% else %}
                                    <p class="alert alert-info">Unfortunately, your submission wasn't the winning combination. Try your luck again tomorrow!</p>
                                {% endif %}

                            {% else %}
                                <p>You did not attempt this challenge</p>

                            {% endif %}


                        {% else %}
                            <p>Login to find out if your submission was correct</p>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        </div>

        {% if challenge_declared %}


        {% endif %}
    </body>
</html>