<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <title>Home page</title>
    </head>

    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Myntra-Jabong</a>
                </div>

                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        {% if current_user.username == 'admin' %}
                            <li><a href="{{ url_for('admin') }}">Admin</a></li>
                        {% endif %}

                        <li><a href="#">Hello, {{ current_user.username }}!</a></li>
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>

                    {% else %}
                        <li><a href="{{ url_for('login') }}">Login</a></li>
                        <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <div class="container">
            <div class="jumbotron">
                <h1>Best outfit challenge</h1>
                <p>
                    Challenge explanation.
                </p>

                {% if not current_user.is_authenticated %}
                    <p>Login to continue to the challenge</p>

                    <p><a class="btn btn-primary btn-lg" href="{{url_for('login') }}" role="button">Login</a></p>

                {% else %}

                    {% if challenge_attempted %}
                        <p class="alert alert-info">You have already attempted the challenge. Attempting it again will overwrite your previous submission</p>
                    {% endif %}
                    <p><a class="btn btn-primary btn-lg" href="{{ url_for('challenge') }}" role="button">Continue to challenge</a></p>
                {% endif %}
            </div>
        </div>

        {% if challenge_declared %}
            <div class="container">
                <h3>Challenge results have been declared!</h3>

                {% if current_user.is_authenticated %}
                    {% if challenge_attempted %}
                        {% if correct_submission %}
                            <p>You have won the challenge!</p>

                        {% else %}
                            <p>Unfortunately, your submission wasn't the winning combination. Try your luck again tomorrow!</p>
                        {% endif %}
                    {% else %}
                        <p>You did not attempt this challenge</p>

                    {% endif %}

                {% else %}
                    <p>Login to find out if your submission was correct</p>

                {% endif %}
            </div>

        {% endif %}
    </body>
</html>